html {
    scroll-behavior: smooth;
}

:root {
    --color-background: #f7fbff;
    --color-primario: #696771;
    --color-fonts-secundarias: #a8a7aa;
    --color-secundario: #001233;

}

* {
    margin: 0%;
    padding: 0%;
    
}

.botones_general {
    padding: 20px 60px;
    border-radius: 15px;
    font-size: 1em;
    color: var(--color-primario);
}

.fonts-secundarias {
    color: var(--color-fonts-secundarias);
}

.flex_column_center {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

body {
    background-color: var(--color-background);
    width: 100%;
    height: 100%;
    
}

.container-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

/* .container-grande {
    margin: 3rem;
    width: 1200px;
    height: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
} */



.container-grande {
    margin: 3rem;
    width: 600px;
    height: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}





/* .card-divisor {
    background-color: var(--color-background);
    width: 47%;
    height: 100%;
    min-width: 375px;
    display: flex;
    flex-direction: column;
    
    align-items: center;
} */



.card-divisor {
    background-color: var(--color-background);
    width: 600px;
    height: 900px;
    min-width: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-divisor.activado {
    visibility: hidden;
}




.container-estilo {
    background-color: transparent;
    border-radius: 15px;
    box-shadow: 0px 0px 18px -4px rgba(166,166,166,0.5);
-webkit-box-shadow: 0px 0px 18px -4px rgba(166,166,166,0.5);
-moz-box-shadow: 0px 0px 18px -4px rgba(166,166,166,0.5);
    
}

.h1 {
    margin-top: 2rem;
    font-size: 1.5em;
    color: var(--color-primario);
}

.contenedor-inputs {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.label_participantes {

}

.input_participantes {
    width: 60px;
    height: 25px;
    margin: 5px;
    border-radius: 5px;
    color: var(--color-fonts-secundarias);
    text-align: center;
    border-style: none;
    background: transparent;
    font-size: 0.9em;
    box-shadow: 0px 0px 11px 1px rgb(166 166 166 / 71%);
    -webkit-box-shadow: 0px 0px 11px 1px rgb(166 166 166 / 20%);
    -moz-box-shadow: 0px 0px 11px 1px rgba(166,166,166,0.71);
}

.boton_siguiente {
    margin-top: 2rem;
}

.p2 {
    margin: 2rem;

}

.containerPersonas {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0% auto;
}

.containerPersonaGasto {
    /* width: 17%; */
    display: flex;
    align-items: center;
    justify-content: center;
}


.inputNombres {
    margin: 5px;
    font-size: 0.9em;
    border-style: none;
    background: transparent;
    color: var(--color-fonts-secundarias);
}

.inputNombres::placeholder {
    color: var(--color-fonts-secundarias);
}

.inputMonto::placeholder {
    color: var(--color-fonts-secundarias);
}

.inputMonto {
    width: 80px;
    height: 25px;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
    border-style: none;
    background: transparent;
    font-size: 0.9em;
    color: var(--color-fonts-secundarias);
    box-shadow: 0px 0px 11px 1px rgb(166 166 166 / 71%);
    -webkit-box-shadow: 0px 0px 11px 1px rgb(166 166 166 / 20%);
    -moz-box-shadow: 0px 0px 11px 1px rgba(166,166,166,0.71);
}

.h4resultado {
    font-size: 2em;
    color: red;
}

.calculoGastos {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

/* .container-resultados {
    width: 47%;
    height: 100%;
    min-width: 375px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} */



.container-resultados {
    width: 600px;
    height: 900px;
    min-width: 375px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    visibility: hidden;
}

.container-resultados.activado {
    visibility: visible;
}



.resultados {
    height: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;

    
}

.container-tiene-que-recibir {
    height: 35%;
}
.container-tiene-que-poner {
    height: 35%;
}

.toggle {

}


@media screen and (max-width: 845px) and (min-width: 375px) {

    .p2 {
        padding: 0 0.5em;
    }

    .inputNombres {
        width: 200px;
        font-size: 0.7em;
    }

    .inputMonto {
        font-size: 0.7em;
    }

    .input_participantes {
        font-size: 0.7em;
    }

    .label_participantes {

        font-size: 0.7em;
    }

    .total {
        font-size: 0.7em;
    }

    .tieneQuePoner {
        font-size: 0.7em;
    }

    .tieneQueRecibir {
        font-size: 0.7em;
    }

    .container-resultados {
        margin: 1em 0;
    }







}