html {
    scroll-behavior: smooth;
}

* {
    margin: 0%;
    padding: 0%;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-divisor {
    background-color: aqua;
    margin: 0 auto;
    width: 60vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor-inputs {
    margin-top: 3rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.boton_siguiente {
    padding: 5px;
    margin: 5rem 0; 
    
}

.containerPersonas {
    width: 100%;
    display: flex;
    
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0% auto;
}

.containerPersonaGasto {
    width: 23%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.participantesH4 {
    margin-right: 0.5em;
}

.inputMonto {
    margin: 1em
}

.h4resultado {
    font-size: 2em;
    color: red;
}

.calculoGastos {
    width: 100%;
    margin-top: 4rem;

    display: flex;
    justify-content: center;
}

.resultados {
    width: 100%;
    margin-top: 4rem;

    
}